.body-container {
    display: flex;
    background-color: #b2b2b2;
    min-height: 100vh;
}


.body-profile {
    height: auto;
    max-width: 150%;
}

.body-picture {
    height: auto;
    max-width: 150%;
    display: flex;
}

.body-picture .profile-picture {
    width: 100;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
}
